<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
 <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                    <form class="forms-sample">
					<div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div>
                      </div>
					  <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail3">Designation</label>
                       <input type="text" name="designation" class="form-control" required pattern="[a-zA-Z0-9]+" />
                      </div>
                      </div>
					  <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword4">Contact No:</label>
                        <input type="number" class="form-control" id="contact" placeholder="Contact No." >
                      </div>
                      </div>
					  <div class="col-md-6">
                       <div class="form-group">
                        <label for="exampleInputName1">NRS/Duty Station</label>
                        <input type="text" class="form-control" id="NRS" placeholder="">
                      </div>
                      </div>
                       <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-form-label">Date of Arrival</label>
                            <div class="">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                          </div>
						  <div class="col-md-6">
						  <div class="form-group">
                            <label class="col-form-label">Date of Departure</label>
                            <div class="">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                          </div>
						  <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">RTU</label>
                            <div class="">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                          </div>
						  <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Accomodation</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option> </option>
                                <option>Hotel</option>
                                <option>GR</option>
                               
                              </select>
                            </div>
                          </div>
                        </div>
						<div class="col-md-6">
						<div class="form-group">
                            <label class="col-form-label">DOC</label>
                            <div class="">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                          </div>
						  <div class="col-md-6">
						  <div class="form-group">
                            <label class="col-form-label">DOS</label>
                            <div class="">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                          </div>
						  <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Appt at ECPSC</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option> </option>
                                <option>HOTT</option>
                                <option>DS COORD</option>
                                <option>DS PLG</option>
                                <option>SI</option>
                                <option>Basic DS</option>
                                <option>Syn DS</option>
                               
                              </select>
                            </div>
                          </div>
                        </div>
						<div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Syndicate WCPSC</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option> </option>
                                <option>A1-A6</option>
                                <option>B1-B6</option>
                                <option>C1-C6</option>
                                <option>D1-D6</option>
                              </select>
                            </div>
                          </div>
                        </div>
						<div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Div WCPSC</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option> </option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                              </select>
                            </div>
                          </div>
                        </div>
						<div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Basic DS</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option> </option>
                                <option>CA</option>
                                <option>TACA</option>
                                <option>TACB</option>
                                <option>SMT</option>
                                <option>MH</option>
                              </select>
                            </div>
                          </div>
                        </div>
						<div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">SI</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option> </option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
			 
        </div>
		 <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Bar chart</h4>
                    <canvas id="barChart" style="height:230px"></canvas>
                  </div>
                </div>
              </div>
			    <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates </a> from Bootstrapdash.com</span>
            </div>
          </footer>
		<script type="text/javascript">
		$(function () {
  /* ChartJS
   * -------
   * Data and config for chartjs
   */
  'use strict';
		 var data = {
    labels: ["2013", "2014", "2014", "2015", "2016", "2017"],
    datasets: [{
      label: '# of Votes',
      data: [10, 19, 3, 5, 2, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
      fill: false
    }]
  };
   var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }

  };
  
  if ($("#barChart").length) {
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    // This will get the first returned node in the jQuery collection.
    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: data,
      options: options
    });
  }
		</script>